# GENERAL
APP_NAME=Artefact+++
APP_ENV=dev # dev | prod
# WEBSERVER
WEB_PORT=8081
WEB_HOST=
# ROBOT
ROBOT_ID= # TODO mettre le bon pour chaque robot
ROBOT_SERIAL_PORT="/dev/ttyUSB0"
ROBOT_TURN_FACTOR=0.3
ROBOT_SPEED=60
# ROBOT_SPEED_MANUAL=60
# ROBOT_SPEED_AUTO=100
# CAMERA
CAMERA_ID=
CAMERA_FPS=30