# GENERAL
APP_NAME=Artefact+++
APP_ENV=dev # dev | prod
# WEBSERVER
WEB_PORT=8081
WEB_HOST= # ------------------------------------- # REMPLIR

# ROBOT
ROBOT_ID= # ------------------------------------- # REMPLIR
ROBOT_SERIAL_PORT="/dev/ttyUSB0"
ROBOT_TURN_FACTOR=0.3
ROBOT_SPEED=60
ROBOT_TICKS_TO_METERS=100
ROBOT_DISTANCE_BTW_WHEELS= # -------------------- # REMPLIR
ROBOT_WHEELS_DIAMETER= # ------------------------ # REMPLIR

# CAMERA
CAMERA_ID= # ------------------------------------ # REMPLIR
CAMERA_FPS=30
