# GENERAL
APP_NAME=Artefact+++
APP_ENV=dev # dev | prod
# WEBSERVER
WEB_PORT=8081
WEB_HOST= # ------------------------------------- # REMPLIR

# ROBOT
ROBOT_ID= # ------------------------------------- # REMPLIR
ROBOT_SERIAL_PORT="/dev/ttyUSB0"
ROBOT_TURN_FACTOR=0.3
ROBOT_SPEED=60
ROBOT_TICKS_PER_CM= # --------------------------- # REMPLIR (for reference, Robot 1's = 55.2)
ROBOT_DISTANCE_BTW_WHEELS= # -------------------- # REMPLIR (for reference, Robot 1's = 30.5)
ROBOT_WHEELS_DIAMETER= # ------------------------ # REMPLIR (for reference, Robot 1's = 14)
ROBOT_OBSTACLE_AVOIDANCE_DISTANCE = 20

# SENSORS
SENSORS_OBSTACLE_DANGER_DISTANCE = 20

# CAMERA
CAMERA_ID=0 # ------------------------------------ # REMPLIR
CAMERA_FPS=30