@font-face {
    font-family: "SF_Galax_Outline";
    src: url("./fonts/sf_distant_galaxy/webfontkit-20260624-082805/sf_distant_galaxy_outline-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

html,body{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}

/*INTRO*/

#intro {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9990;
    transform: translateY(-100%);
    animation: intro_move 2.6s ease;
    position: absolute;
}

#wrapper_v {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

#intro_bg {
    width:  100%;
    z-index: 9991;
    position: absolute;
    top:0;
    left:0
}



#v1 {
    z-index: 9992;
    position: absolute;
    top:45%;
    left:45%;
    transform: rotate(0deg) scale(0.2);
    animation: v1 2.5s ease;

}
#v2 {
    z-index: 9993;
    position: absolute;
    align-self: center;
    left: 50%;
    top:50%;
    transform: rotate(45deg) scale(0.2);
    animation: v2 2.5s ease;
}

@keyframes intro_move {
    0% {transform: translateY(0%);}
    70% {transform: translateY(0%);}
    100% {transform: translateY(-100%);}    
}

@keyframes v1 {
    0% {top: 20%; left: 25%; transform: rotate(0deg) scale(0.2);}
    100% {top: 40%; left: 38%; transform: rotate(25deg) scale(9.5);}
}

@keyframes v2 {
    0% {top: 65%; left: 62%; transform: rotate(45deg) scale(0.5);}
    100% {top: 55%; left: 55%; transform: rotate(25deg) scale(10.3);}
}

header{
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#background_header{
    height: 100%;
    z-index: -1;
    position: absolute;
    justify-self: center;
    animation: stars_in_sky 5s ease infinite;
}

@keyframes stars_in_sky {
    0%  {transform: translateX(0rem);}
    40%  {transform: translateX(1rem);}
    80%  {transform: translateX(0rem);}
    100%  {transform: translateX(0rem);}
}



#main_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-self: center;
    align-self: center;
}

.big_title{
    margin:0;
    font-family: "SF_Galax_Outline";
    font-size: 3rem;
    margin: 0;
    border-radius:1rem;
    color: yellow;
    background-color: #110a34;

}

#litle_title{
    margin: 0;
    font-family: "SF_Galax_Outline";
    font-size:1.5rem ;
    color: yellow;
    background-color: #110a34;
}

#menu{
    width: 5rem;
    height: 5rem;
    position: absolute;
    left:2rem;
    align-self: center;
}

#menu:hover, #menu:focus {
    transform: scale(1.2);
    transition: all 0.3s ease;
}

#main_content{
    position: relative;
    width: 100%;
    height: 100vh;
    flex:1;
    display: flex;
    justify-content: center;
}

#block_menu{
    position: absolute;
    top:0;
    left:0;
    width: 20rem;
    background-color: #110a34;
    height: 100%;
    transform: translateX(-100%);
    transition: all 1s ease;
}

.video_wrapper {
    width: 30%;
    margin:1rem;
    height: 13rem;
    border: solid black 0.1rem;
    display: flex;
}

#video_content {
    width: 95%;
    height: 15rem;
    border: solid black 0.1rem;
    display: flex;
    flex-direction: row;
}