#main_content{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_title{
    display: inline-flex;
    font-family: TiroTelugu, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 0.5rem;
}

#picture_done{
    display: flex;
    width: 95%;
    height: 25rem;
    border: dashed rgb(45, 105, 194) 0.3rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#picture_done p{
    font-family: TiroTelugu, sans-serif;
    color: rgb(70, 70, 70);
    font-weight: bold;
}

#part_1{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#buttonFile{
    display: flex;
    background-color: antiquewhite;
    width:12rem;
    height: 3rem;
    border: solid black 0.1rem;
    border-radius:1rem ;
    align-items: center;
    justify-content: center;
    font-style: italic;
}



#File{
    display: flex;
    flex-direction: row;
    width: 75%;
    height: auto;
    justify-content: space-between;
}












/* TESTS*/
#buttonFile{
    display: flex;
    background-color: antiquewhite;
    width:12rem;
    height: 3rem;
    border: solid black 0.1rem;
    border-radius:1rem ;
    align-items: center;
    justify-content: center;
    font-style: italic;
}