<!DOCTYPE html>
<html>

<head>
    <title>Map Constructor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/header.css" />
    <link rel="icon" href="/src/logo.svg">
</head>

<body>
    <header>
        <div id="header_content">
            <img src="/src/logo_header.svg" id="logo">
            <div id="title1_container">
                <p id="title1">Map Constructor</p>
                <p id="title_date">Since 2026</p>
            </div>
            <div id="language">
                <a href="/">fr</a>
                <p> | </p>
                <a href="/en">en</a>
            </div>
        </div>
    </header>
    <div id="images">
        <div id="image_container">
            <div id="image_track">
                <img src="/src/image1.jpg">
                <img src="/src/image2.jpg">
                <img src="/src/image5.jpg">
                <img src="/src/image6.jpg">
                <img src="/src/image4.jpg">
            </div>
        </div>
        <div id="image_num">
            <img class="vide" src="/src/rond_vide.svg">
            <img class="vide" src="/src/rond_vide.svg">
            <img class="vide" src="/src/rond_vide.svg">
            <img class="vide" src="/src/rond_vide.svg">
            <img class="vide" src="/src/rond_vide.svg">
            <img id="plein" src="/src/rond_plein.svg">
        </div>
    </div>
    <div id="containeur_princ">
        <div id="text_presentation">
            <p id="p1">Notre projet :</p>
            <p class="classic_text">Map Constructor est une institution depuis plusieurs années déjà de la conversion de carte en graphe.</p>
            <p class="classic_text">Depuis 2026, notre fondation a pour objectif de produire les graphes les plus précis à partir de plans de qualité, séléctionnés parmis les meilleurs.</p>
            <p class="classic_text">Grâce à nos équipes et à un savoir faire de quelques mois, notre but et d'offrir une solution d'avenir à nos partenaires, alors qu'ils comptent sur nous pour la conversion de leur cartographie.</p>
            <div id="button_containeur">
                <div class="button" id="button1">
                    <p>Découvrez nos équipes ici !</p>
                </div>
                <div class="button" id="button2">
                    <p>Créez votre propre carte ici !</p>
                </div>
                <div class="button" id="button3">
                    <p>Visualisez une carte déjà créée ici !</p>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="/script/script_index.js"></script>

</html>