<!DOCTYPE html>
<html>

<head>
    <title>Map Constructor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/map_build.css" />
    <link rel="stylesheet" type="text/css" href="/header.css" />
    <link rel="icon" href="/src/logo.svg">
</head>

<body>
    <header>
        <div id="header_content">
            <img src="/src/logo_header.svg" id="logo">
            <div id="title1_container">
                <p id="title1">Map Constructor</p>
                <p id="title_date">Since 2026</p>
            </div>
            <div id="language">
                <a href="/">fr</a>
                <p> | </p>
                <a href="/en">en</a>
            </div>
        </div>
    </header>
    <div id="main_content">
        <p id="main_title">Création de carte :</p>
        <div class="part" id="part_1">
            <div id="picture_done">
                <p>Déposez ici votre fichier (image)...</p>
            </div>
            <div id="File">
                <input type="file" id="fileInput" hidden>
                <div id="buttonFile">
                    <p>Sélectionner un fichier</p>
                </div>
                <div id="fileList">

                </div>
            </div>
            <div id="creating_box">
                <div id="project_name_box">
                    <input type="text" placeholder="Nom du nouveau projet" id="project_name">
                    <div id="project_name_validate">
                        <p>Création du projet</p>
                    </div>
                    <div id="buttonExport">
                    <p>Reset</p>
                </div>
                </div>
                <div id="verif_project_name">

                </div>
            </div>
            <div id="create_project">
                <div id="create_project_button">
                    <p>Continuer</p>
                </div>
            </div>
        </div>
        <div class="part" id="part_2">
            <div id="caracteristics">
                <p>Carectéristiques de l'image</p>
                <div id="picture_measurement_box">
                    <input id="picture_measurement" type="text" placeholder="Largeur de l'image">
                    <p id="picture_measurement_m">m</p>
                </div>
            </div>
            <div class="plus_icon" id="plus_caracteristics">
                <img src="/src/plus.svg">
            </div>
            <div id="graphe_box">
                <div class="icone_creator">
                    <img id ="sommet" src="/src/graphe.svg">
                    <p>Sommet</p>
                </div>
                <div class="icone_creator">
                    <img id="arrete" src="/src/arrete.svg">
                    <p>Arrête</p>
                </div>
            </div>
            <div class="plus_icon" id="plus_graphe">
                <img src="/src/plus.svg">
            </div>
            <div id="onglet_box">
                <!--<div id="image_content">

                </div>-->
            </div>
            <div id="onglet_box_bottom">
            </div>
            <div class="plus_icon" id="plus_onglet">
                <img src="/src/plus.svg">
            </div>
        </div>
    </div>
</body>
<script src="/script/panzoom.js"></script>
<script src="/script/script_map.js"></script>

</html>