<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Dashboard Robot {{ robot_id }}</title>
    <link rel="stylesheet" href="/styles/app.css" type="text/css">
    <link rel="stylesheet" href="/styles/robot.css" type="text/css">
    <link rel="stylesheet" href="/styles/animations.css" type="text/css">
</head>

<body>

    <div class="header-wrapper">
        <h1 class="page-title">Dashboard {{ robot_id }}</h1>
        <div class="map-placeholder">
            <img src="/images/carte_telecom.png" alt="Carte de Télécom">
        </div>  
        <div class="logo-placeholder">
            <a href="/">
            <img src="/images/pizza_secrete_entiere.png" class="ani-spinning back-button" alt="Logo Artefact+++">
            </a>
        </div>
    </div>

    <!-- Two columns -->
    <div class="columns">

        <div class="column">
            <div class="name">Robot {{ robot_id }}</div>
            <div class="camera-placeholder">
                <img src="/video" class="video">
            </div>
            <div class="status-box">Status: OK</div>
        </div>

        <div class="column">
            <div class="name">Contrôles</div>
            <a class="big-button" href="#">Haut</a>
            <a class="big-button" href="#">Bas</a>
            <a class="big-button" href="#">Gauche</a>
            <a class="big-button" href="#">Droite</a>
        </div>

    </div>

</body>

</html>